* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito Sans;
}

.big-contayner {
    max-width: 1440px;
    width: 1440px;
    margin: 0 auto;
    transition: background 0.5s, color 0.5s;
}

.contayner {
    padding: 0 80px;
    color: #fff;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #2b3844;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
    font-size: 24px;

}

.dark {
    display: flex;
    gap: 25px;
    color: #fff;
}

.dark button {
    display: flex;
    gap: 15px;
    background-color: #2b3844;
    border: none;
    outline: none;
    color: #fff;
}

.dark button .sun-div,
.moon-div {
    width: 200px;
    display: flex;
    gap: 15px;
}

.sun {
    display: none;
}

.world_section {
    width: 100%;
    min-height: 1000px;
    padding-bottom: 100px;
    background-color: #202c36;
    padding-top: 50px;
}

.world-input {
    gap: 15px;
    width: 480px;
    height: 56px;
    border-radius: 5px;
    background-color: #2b3844;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: #fff;
}

.world-input input {
    background-color: #2b3844;
    border: none;
    height: 56px;
    width: 100%;
    outline: none;
    font-size: 18px;
    color: #fff;
}

.world-input input:focus {
    outline: none;
    border-color: #888;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-div {
    border-radius: 5px;
}

.select {
    width: 200px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-color: #2b3844;
    color: #fff;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
}

.select:focus {
    outline: none;
}

.select option {
    margin: 10px 0;
}

.select option:focus {
    outline: none;
}

.world-contayner {
    margin-top: 50px;
    display: grid;
    /* justify-content: space-between; */
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: 100px 200px; */
    gap: 40px;
}

.card {
    width: 280px;
    height: 380px;
    background-color: #2b3844;
    border-radius: 10px;
    position: relative;
}

.card-img {
    border-radius: 10px;
    width: 100%;
    height: 187px;
}

.card-img img {
    border-radius: 10px 10px 0 0;
    width: 280px;
    height: 187px;
}

.card-text {
    border-radius: 0 0 10px 10px;
    padding: 17px 20px;
    height: auto;
}

.card-text h2 {
    font-size: 24px;
    margin-bottom: 18px;
}

.card-text p {
    margin: 5px 0;
    font: 800;
}

.card-text p span {
    font: 400;
    color: #b8b8b8ce;
    margin-left: 5px;
}

.card-text a {
    color: red;
    margin-left: 140px;
    text-decoration: none;
    border: 1px solid red;
    padding: 2px;

    position: absolute;
    bottom: 10px;
    right: 10px;
}