body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000000;
}

.container {
    padding: 20px;
    border-radius: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    position: relative;
    margin: 100px auto 0;
    background: linear-gradient(0deg, #000, #272727);
    color: #fff;
}

.container:before,
.container:after {
    border-radius: 20px;
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094,
            #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.container:after {
    filter: blur(70px);
}



input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: 1px solid #007bff;
}

input:focus {
    outline: 2px solid #007bff;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    outline: none;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-top: 10px;
}

.user-info {
    margin-top: 20px;
}

.user-info img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.user-info h2 {
    margin: 10px 0 5px;
}

.user-info p {
    margin: 5px 0;
    color: #555;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.stats div {
    text-align: center;
}